{% extends 'base.html' %}
{% block title %}
Homepage | News 11 Mathura
{% endblock title %}

{% block css %}
<style>
    .trend-bottom-img img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        display: block;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .live-tag {
      border: 2px solid red;
      padding: 20px;
      border-radius: 50px 20px;
    }
</style>

{% endblock css %}

{% block content %}
<p><span class="bg-danger text-light p-1 live-tag">Live Streaming</span><i id="views_count" class="fa fa-eye p-4"
                                                                           style="font-size:20px">&nbsp;{{view_count}}</i>
</p>
<div class="video-container mb-3">
    {{live_link|safe}}
</div>

<div class="row">
    <div class="col-lg-8 top-tranding-news">
        <!-- Trending tOP -->
        <div class="trending-top mb-30">
            <div class="trend-top-img">
                <img src="{{first_news.featured_image.url}}" alt="">
                <div class="trend-top-cap">
                    <span>{{first_news.category}}</span>
                    <h2>
                        <a href="/news/detail/{{first_news.id}}/">{{first_news.title}}</a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="trending-bottom">
            <div class="row">
                {% for i in other_top %}
                <div class="col-lg-4">
                    <div class="single-bottom mb-35">
                        <div class="trend-bottom-img mb-30">
                            <img src="{{i.featured_image.url}}" alt=""></div>
                        <div class="trend-bottom-cap">
                            <span class="color1">{{i.category}}</span>
                            <h4><a href="/news/detail/{{i.id}}/">{{i.title}}</a></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Trending Bottom -->
    </div>

    <!-- Riht content -->
    <div class="col-lg-4">
        <h3>Crime News</h3>
        {% for i in crime_news %}
        <div class="trand-right-single d-flex">
            <div class="trand-right-img">
                <img src="{{i.featured_image.url}}" alt="" style="width:120px; height:100px;">
            </div>
            <div class="trand-right-cap">
                <span class="color1">{{i.category}}</span>
                <h4><a href="/news/detail/{{i.id}}/">{{i.title|slice:":40"}}</a></h4>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-lg-12 text-center">
        <h5><strong>Advertisement</strong></h5>
        <img src="/static/assets/img/hero/header_card.jpg" alt="" class="img-fluid">
    </div>
</div>
{% endblock content %}

{% block js %}

<script>
    $(document).ready(function() {
        $.ajax({
            url: '/live_streaming/live_stream/',
            type: 'GET',
            data:{
                'live_id': {{live_id}}
            },
            success: function(data) {
                $('#views_count').html(data.views_count)
            },
        });
    });
</script>
{% endblock js %}