{% extends 'base.html' %}
{% block title %}
Detail | News Detail Page
{% endblock title %}

{% block mestas %}
<meta property="og:title" content="{{news.title}}">
<meta property="og:description" content="{{ news.text|truncatewords:30 }}">
<meta property="og:image" content="{{ absolute_image_url }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">

<!-- Optional: Twitter Card meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ news.title }}">
<meta name="twitter:image" content="{{ news.featured_image.url }}">

{% endblock mestas %}

{% block css %}
<style>
    .share-links {
        margin: 10px 0;
    }
    .share-links a {
        text-decoration: none;
        margin-right: 10px;
        font-size: 24px;
        color: #000;
    }
</style>
{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <!-- Trending Tittle -->
        <div class="about-right mb-90">
            <div class="section-tittle mb-30 pt-30">
                <h3>{{news.title}}</h3>
            </div>
            <div class="about-img">
                <img src="{{news.featured_image.url}}" alt="" class="img-fluid">
            </div>

            <div class="about-prea mt-3">
                <i class="fa fa-eye" style="font-size:16px">&nbsp;{{news.count}}</i>
                <p class="about-pera1 mb-25">{{news.text}}</p>
            </div>
            <!-- WhatsApp Share Link -->
            <div class="share-links">
                <span style="margin-right: 10px;">Share Link</span>
                <!-- WhatsApp -->
                <a href="https://wa.me/?text={{ news.title }} - {{ request.build_absolute_uri }}" target="_blank">
                    <i class="fab fa-whatsapp" style="color:#25D366; margin-right: 10px;"></i>
                </a>
                <!-- Facebook -->
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                    <i class="fab fa-facebook" style="color:#3b5998; margin-right: 10px;"></i>
                </a>
                <!-- Twitter -->
                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ news.title }}"
                   target="_blank">
                    <i class="fab fa-twitter" style="color:#1DA1F2; margin-right: 10px;"></i>
                </a>

            </div>

        </div>
    </div>

    <div class="col-lg-4">
        <!-- Section Tittle -->
        <div class="section-tittle mb-40">
            <h3>Follow Us</h3>
        </div>
        <!-- Flow Socail -->
        <div class="single-follow mb-45">
            <div class="single-box">
                <div class="follow-us d-flex align-items-center">
                    <div class="follow-social">
                        <a href="#"><img src="assets/img/news/icon-fb.png" alt=""></a>
                    </div>
                    <div class="follow-count">
                        <span>8,045</span>
                        <p>Fans</p>
                    </div>
                </div>
                <div class="follow-us d-flex align-items-center">
                    <div class="follow-social">
                        <a href="#"><img src="assets/img/news/icon-tw.png" alt=""></a>
                    </div>
                    <div class="follow-count">
                        <span>8,045</span>
                        <p>Fans</p>
                    </div>
                </div>
                <div class="follow-us d-flex align-items-center">
                    <div class="follow-social">
                        <a href="#"><img src="assets/img/news/icon-ins.png" alt=""></a>
                    </div>
                    <div class="follow-count">
                        <span>8,045</span>
                        <p>Fans</p>
                    </div>
                </div>
                <div class="follow-us d-flex align-items-center">
                    <div class="follow-social">
                        <a href="#"><img src="assets/img/news/icon-yo.png" alt=""></a>
                    </div>
                    <div class="follow-count">
                        <span>8,045</span>
                        <p>Fans</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- New Poster -->
        <div class="news-poster d-none d-lg-block">
            <img src="assets/img/news/news_card.jpg" alt="">
        </div>
    </div>
</div>
{% endblock content %}